.profile__userpic-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
  opacity: 0;
  transition: all 0.2s;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(/src/images/edit-userpic.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px 26px;
}

.profile__userpic-button:hover {
  opacity: 1;
}
