.sign__form-submit-btn {
  width: 358px;
  height: 50px;
  background: #ffffff;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  margin: 216px 0 0 auto;
  padding: 0;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
}

.sign__form-submit-btn:hover {
  opacity: .85;
  transition: .7s all;
}
